<!DOCTYPE html>
<html>

<head>
    <title>DAAP News & Weather</title>
{#    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">#}
    <link href="{{ STATIC_URL }}css/slick.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/slick.js"></script>
    <script  src="{{ STATIC_URL }}js/main.js"></script>

</head>
{% with STATIC_URL|add:"css/" as url %}
<body class="body" onload="loadCSS('{{ url }}')">
{% endwith %}
<br>
<br>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6"></div>

    </div>



    <div class="row time_weather_row">
        <div class="col-md-4 weather_col" id="weather_col"></div>
        <div class="col-md-4 clock-col" id="clock"></div>
        <div class="col-md-4 time_col" id="time"></div>



{#  <div class="col-md-1 weather_col" id="weather_col"></div>#}
{#   <div class="col-md-1"></div>#}

{#        <div class="col-md-1">&nbsp;</div>#}
{#        <div class="col-md-1">&nbsp;</div>#}
{#        <div class="col-md-1">&nbsp;</div>#}
{#        <div class="col-md-1">&nbsp;</div>#}
{#        <div class="col-md-1">&nbsp;</div>#}
{#        <div class="col-md-1">&nbsp;</div>#}
{#        <div class="col-md-1">&nbsp;</div>#}
{#        <div class="col-md-1 time_col" id="time"></div>#}
{#        <div class="col-md-1">&nbsp;</div>#}
</div>

{#<div class="row">#}
{#        <div class="col-md-6"></div>#}
{#        <div class="col-md-6"></div>#}
{##}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col-md-6"></div>#}
{#        <div class="col-md-6"></div>#}
{##}
{#    </div>#}

    <div class="row">

  <div class="col-md-1"></div>
        <div class="col-md-1"></div>

    <div class="col-md-8 twitter_col" id="twitter_col" >


    </div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
{#    <div class="col-md-4"></div>#}
</div>


{#<div class="col-md-4" id="weather_col">}#}
    {# append weather stuff here  #}
{#    </div>#}
{#<div class="col-md-4" id="twitter_col">#}
{#</div>#}
{#<div class="col-md-4">#}
{#    <div id="time"></div>#}
{#</div>#}
</div>
</body>
</div>
</html>



