{#<div class="twitter_container" class="pagination-centered"><div class="main_twitter">#}
{#    {% for tweet in tweets %}#}
{#        <div>#}
{#        {{ tweet|safe }}#}
{#        </div>#}
{#    {% endfor %}#}
{#</div>#}
{#</div>#}
{##}
{#<div class="row">#}
{#    <div class="col-xs-5 col-md-3 col-lg-1 vcenter">#}
{#        <div style="height:10em;border:1px solid #000">Big</div>#}
{#    </div><!--#}
{#    --><div class="col-xs-5 col-md-7 col-lg-9 vcenter">#}
{#        <div style="height:3em;border:1px solid #F00">Small</div>#}
{#    </div>#}
{#</div>#}

 <div class="row-fluid twitter_content">

    <div class="span6 v-center">
        <div class="main_twitter">
            {% for tweet in tweets %}
        <div>
        {{ tweet|safe }}
        </div>
    {% endfor %}
        </div>
    </div>
  </div>